@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  box-sizing:border-box;
}

/* Darkest Blue: #0b132b,
  Dark Blue: #1c2541,
  Blue: #3a506b,
  Teal: #5bc0be,
  White: #ffffff */
body {
  background-color: #0b132b;
}

.container {
  background-color: #0b132b;
  color:white;
  box-sizing:border-box;
  text-align: center;
  width:100%;
  height:100vh;
  min-height:910px;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 8% auto;
  grid-template-areas:
    "nav nav nav"
    ". content .";
}

ul {
  list-style:none;
  margin:0;
  padding: 0;
}
/* ========================================== */
/* Nav Bar and Menu Stuff */
/* ========================================== */

.nav-bar {
  background-color:#5bc0be;
  grid-area: nav;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap:2em;
}

.menu-item{
  color:white;
  text-decoration:none;
  font-weight:bold;
  font-size:18px;
  text-shadow:2px 2px 10px #0b132b;
  padding:1em;
  border-radius:8px;
  border:2px solid #1c2541;
  box-shadow:3px 3px #1c2541;
  transition: all .25s ease-in;
}

.menu-item:hover{
  text-shadow:2px 2px #0b132b;
  border:2px solid #1c2541;
  box-shadow:none;
}

.menu-dropdown{
  z-index:1;
  background-color:#3a506b;
  width:max-content;
  height:max-content;
  position:absolute;
  border: 2px solid #5bc0be;
  border-top:0;
  border-radius: 0 0 8px 8px;
  transform:translateY(2%);
}

.add-form{
  display:flex;
  flex-flow: column nowrap;
  justify-content:space-around;
  align-items:center;
  padding:1em;
}

.back-button {
  display:inline-block;
  color:white;
  text-align:left;
  text-decoration:none;
  font-weight:bold;
  margin:10px 3%;
}

.edit-button {
  display:inline-block;
  color:white;
  text-align:right;
  text-decoration:none;
  font-weight:bold;
  margin:10px 3%;
}

.nav-controls {
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:center;
}

/* ========================================== */
/* Content Specific Stuff */
/* ========================================== */
.title {
  box-sizing:border-box;
  display:inline-block;
  width:max-content;
  padding:10px 20px;
  text-shadow:3px 3px 10px #0b132b;
  text-align:center;
  align-self:center;
  justify-self:center;
  background-color: #3a506b;
  border: 5px solid #5bc0be;
  border-radius: 30px;
  transition: all .25s ease-in;
}

.title:hover{
  text-shadow:5px 5px #0b132b;
}

.content {
  padding:10px;
  margin-bottom:2em;
  background-color: #1c2541;
  border-radius: 0 0 10px 10px;
  grid-area: content;
}

.hobbies {
  padding-top:1.5em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "title"
    "hobbies-info"
    "list";
  gap:1.5em;
}

.section-title {
  margin:1em auto .25em;
  font-size:2em;
  grid-area:hobby-title;
}

.blurb {
  grid-area:blurb;
}

.search {
  height:min-content;
  padding:.75em;
  margin:2.25em auto .5em;
  color:white;
  background-color:#1c2541;
  font-weight:bold;
  border: 1px solid #3a506b;
  border-radius:1em;
  grid-area:search;
}


.hobbies-info {
  grid-area:hobbies-info;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:auto;
  grid-template-areas:
    "blurb blurb blurb"
    ". hobby-title search";
}

.hobbies-list {
  color:white;
  text-decoration:none;
  text-align:left;
  grid-area: list;
}

.hobby {
  padding:.25em;
  background-color: #1c2541;
  display:grid;
  grid-template-columns: 1fr;
  border:1px solid transparent;
  border-top: 1px solid #3a506b;
  border-radius:0;
  cursor:pointer;
  transition: all .25s ease-in-out;
}

.hobby:hover {
  transform: scale(1.02);
  box-shadow:5px 5px 10px #0b132b;
  border: 1px solid #3a506b;
  border-radius:5px;
}

.body-link {
  color:white;
  text-decoration:none;
  padding:.25em;
}

.hobby h5 {
  font-size:1.25em;
}

.hobby p {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.hobby-detail {
  padding:1.5em;
  text-align:left;
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 15vh auto;
  grid-template-areas:
    "name specs"
    "description specs"
    "resources resources"
    "scores scores";
  gap:2em;
}

.hobby-name-keywords {
  grid-area:name;
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5bc0be;
}

.hobby-name {
  font-size:2em;
  padding:1em;
}

.keyword-display {
  justify-self:end;
  font-size:18px;
  width:40%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr;
  align-content:center;
  gap:.75em;
  text-align:center;
  padding:0 .5em;
}

.display-keyword {
  background-color:#3a506b;
  padding:.75em .25em;
  overflow-wrap: break-word;
  hyphens:auto;
}

.hobby-description {
  padding:1em;
  grid-area:description;
}

.hobby-specs {
  padding:1em;
  border-left: 1px solid #5bc0be;
  grid-area:specs;
}

.hobby-resources {
  padding:1em;
  border-top: 1px solid #5bc0be;
  grid-area:resources;
}

.spec-section {
  padding:1em 0;
}

.spec-section > h4 {
  padding:.5em 0;
}

.graph {
  margin:10px 0;
  width:100%;
}

/* ========================================== */
/* Form Specific Stuff */
/* ========================================== */
.form-title {
  margin:1em 1em 0;
  text-shadow:3px 3px 10px #0b132b;
}

.input{
  padding:.25em;
  width:90%;
  margin: 1em;
  border: 2px solid #0b132b;
  border-radius: 5px;
}

textarea{
  height:5em;
  min-width:300px;
}

.add-input{
  height:min-content;
  padding:.75em;
  color:white;
  background-color:#1c2541;
  font-weight:bold;
  border: 1px solid #3a506b;
  border-radius:1em;
}

#description {
  height:15vh;
}


.button{
  color:white;
  text-decoration:none;
  background-color:#1c2541;
  font-weight:bold;
  padding:.5em;
  border:1px solid #5bc0be;
  border-radius:5px;
  cursor:pointer;
  text-shadow:2px 2px 10px #3a506b;
  box-shadow:3px 3px #1c2541;
  transition: all .25s ease-in;
}

.button:hover{
  text-shadow:2px 2px #3a506b;
  box-shadow:none;
}


.edit-save{
  margin-right: 1em;
  background-color:#5bc0be;
  border:1px solid #1c2541;
  text-shadow:3px 3px 10px #0b132b;
}

.edit-submit{
  text-shadow:2px 2px 10px #1c2541;
  background-color:#5bc0be;
}

.edit-cancel{
  background-color:crimson;
}

.radio-graphs {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items:center;
  align-items:center;
  padding:1em;
}

.radio-graphs > * {
  padding:.5em;
}

input[type="radio"] {
 position:absolute;
 opacity:0;
 height:0;
 width:0;
}

input[type="radio"] + img {
  padding:1em;
  cursor:pointer;
  border-radius:10px;
}

input[type="radio"]:checked + img {
  outline: 2px solid white;
}

.graph-description {
  text-align:center;
  width:90%;
}

.graph {
  display:inline;
  width:90%;
}

.edit-graph {
  display:inline;
  width:90%;
  cursor:pointer;
}

.graph-path-box {
  height:100%;
  display:flex;
  flex-flow:column nowrap;
  justify-content:space-between;
  align-items:center;
}

.scores-fields {
  grid-area:scores;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2em auto;
  width:100%;
}

.scores-fields > legend {
  text-align:center;
}

.scores-fields > label {
  justify-self:start;
  padding-left: 10%;
}

.scores-fields > input {
  justify-self:center;
}

.scores-fields > h4 {
  place-self:center;
  padding:.5em;
}

.keyword-layout {
  width:100%;
  height:100%;
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
  padding:0;
}

#keywords {
  width:50%;
  align-self:flex-start;
  margin-left:5%;
}

.keyword-container {
  justify-self:end;
  width:40%;
  height:100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:auto;
  gap:.75em;
  padding:0 .5em;
}

.individual-keyword {
  background-color:#3a506b;
  height:100%;
  padding:.75em .25em;
  overflow-wrap: break-word;
  hyphens:auto;
}

.keyword-edit-display {
  width:100%;
}

.edit-keyword {
  color:white;
  padding:.5em;
  font-weight:bold;
  width:100%;
}

#edit-description {
  height:100%;
  grid-area:description;
}

::placeholder {
  color:white;
}

.delete-button {
  background-color: crimson;
  font-size:.75em;
}
